.min-width{
    min-width: 100%;
}

.flex-column{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.flex-wrap{
    flex-wrap:wrap;
}

.flex-align-center{
    align-content: center;
}

.row .column.column-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

@media (max-width: 500px) {
    .column-50, .column-25, .column-15{max-width: 100% !important;}
    .column-offset-25 {margin-left: 0 !important;}
}